<!DOCTYPE html>
<html lang="eng">
    <head>
        <title>Omkar mess</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    </head>
    <body>
        <div class="heading">
            <h1>Omkar Mess</h1>
        </div>
        <nav class="navbar">
            <ul>
                <li><a href="enroll.html">Enroll</a></li>
                <li><a href="list.html">List</a></li>
                <li><a href="due.html">Due</a></li>
            </ul>
        </nav>
        <div class="logo">
            <img src="static/images/logo.jpg" alt="logo" title="Omkar Mess">
        </div>
        <div class ="timetable">
            <table>
                <tr>
                    <th>&nbsp;</th>
                    <td>Breakfast</td>
                    <td>Launch</td>
                    <td>Dinner</td>
                </tr>
                <tr>
                    <th>sunday</th>
                    <td>bonda</td>
                    <td>Dal,Sambar,potato</td>
                    <td>Sambar,curd,carrot</td>
                </tr>
                <tr>
                    <th>Monday</th>
                    <td>bonda</td>
                    <td>Dal,Sambar,potato</td>
                    <td>Sambar,curd,carrot</td>
                </tr>
                <tr>
                    <th>Tuesday</th>
                    <td>bonda</td>
                    <td>Dal,Sambar,potato</td>
                    <td>Sambar,curd,carrot</td>
                </tr>
                <tr>
                    <th>Wednesday</th>
                    <td>bonda</td>
                    <td>Dal,Sambar,potato</td>
                    <td>Sambar,curd,carrot</td>
                </tr>
                <tr>
                    <th>Thursday</th>
                    <td>bonda</td>
                    <td>Dal,Sambar,potato</td>
                    <td>Sambar,curd,carrot</td>
                </tr>
                <tr>
                    <th>Friday</th>
                    <td>bonda</td>
                    <td>Dal,Sambar,potato</td>
                    <td>Sambar,curd,carrot</td>
                </tr>
                <tr>
                    <th>Saturday</th>
                    <td>bonda</td>
                    <td>Dal,Sambar,potato</td>
                    <td>Sambar,curd,carrot</td>
                </tr>
            </table>
        </div>
    </body>
</html>